/* Fonts */

@font-face {
    font-family: SinkinSansTwoThin;
    src: url(../fonts/SinkinSans-200XLight.otf);
}
@font-face {
    font-family: SinkinSansThreeThin;
    src: url(../fonts/SinkinSans-300Light.otf);
}
@font-face {
    font-family: SinkinSansFourThin;
    src: url(../fonts/SinkinSans-400Regular.otf);
}
@font-face {
    font-family: SinkinSansFiveMedium;
    src: url(../fonts/SinkinSans-500Medium.otf);
}
@font-face {
    font-family: SinkinSansSixBold;
    src: url(../fonts/SinkinSans-600SemiBold.otf);
}
@font-face {
    font-family: SinkinSansEightBold;
    src: url(../fonts/SinkinSans-800Black.otf);
}
/* Main Body */
body{
	background-color: #e9e9e9;
	font-family: SinkinSansFourThin;
	margin-top: 52px;
}
#Dr_Ewert_sm_profile_container{
	display: none;
}
#whoWeAre{
	display: none;
}
.magic{
	color: white;
	visibility: hidden;
	background-color: white;
	width: 100%;
	max-height: 1px;
}

/* Navbar */
#servicesLink_mobile_only{
	display: none;
}
#patientsLink_mobile_only{
	display: none;
}
#resourcesLink_mobile_only{
	display: none;
}
.navbar-nav li{
	width: 25%;
	font-size: 1em;
}
.dropdown-menu{
	width: auto;
	padding: 0;
}
.dropdown-menu > li{
	border-bottom: 1px solid grey;
	padding-bottom: 0.3em;
	font-weight: 500;
	width: 100%;
	text-align: center;

}
.companyHeadingPlusImg{

}
.dropdown-menu>li>a:hover{

	background-color: transparent;
	color: white;
}
.navbar-nav{
	width: 70%;
	float: right;

}
.dropdown-menu > li > a{
	padding-bottom: 0.3em;
	width: 100%;
}
.dropdown-menu > li:nth-child(3){
	border-bottom: none;
}

#navbarTitle{
	color: #18C2BE;
	font-weight: bold;
}
.navbar-nav > li > a {
	padding-top: 17px;
	text-align: center;
	font-weight: 500;
}
.container{
	width: 100%;
	padding-right: 0;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	color: #18C2BE;
	background-color: transparent;

}
.navbar-default .navbar-nav>li>a:hover{
	color: #18C2BE;
}
li:hover{
	color: #18C2BE;
}
.mainContent{
	font-size: 1em;
	text-align: justify;
}
.featurette-heading{
	font-size: 1.5em;
}
.mainColor{
	color: #18C2BE;
}
.secondaryColor{
	color:#777;
}
.whoWeHelpPersonaContainer{
	margin-bottom: 5em;
}
/* Who We Are Section Begin */

.mainTitle{
	text-align: center;
	font-size: 3em;
	font-family: SinkinSansSixBold;
	color: #18C2BE;
	text-transform: uppercase;
	margin-top: 2em;
	margin-bottom: 2em;
}
#mainBanner{
	height: 53em;
	background-image: url("../img/CNSbuilding.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.whoWeAreTransparent {
	background-color:rgba(225,225,225,0.8);
    border: 1px solid black;
    margin-top: 7em;
    margin-bottom: 2em;
}
.whoWeAreTitle {
	text-align: center;
	font-size: 3em;
	font-family: SinkinSansSixBold;
	color: solid black;
	opacity: 1;
	text-transform: uppercase;
	margin-top: 1em;
	margin-bottom: 0.7em;
}
.whoWeAreExplainerTxt {
	color: solid black;
	text-align: center;
	margin-bottom: 3em;
	line-height: 1.8em;
	font-size: 1.1em;
}

/* Who We Are Section End */



/* What We Do Section Begin*/
.wwDContainer{
	/*border: 2px solid red;*/
}
.whatWeDoTitle{
	font-family: SinkinSansFiveMedium;
	color: #18C2BE;
	font-size: 1.25em;
	margin-top: 1.5em;
	margin-bottom: 0.7em;
	text-align: center;
	line-height: 1.3em;
}
.whatWeDoSubTitle{
	font-family: SinkinSansFiveMedium;
	color: #18C2BE;
	font-size: 1.25em;
	margin-top: 0;
	margin-bottom: 1em;
	text-align: center;
	line-height: 1.3em;
}
#howTitle{
	/*color:rgb(60,139,164);*/
	color:white;
	margin-bottom: 2em;
	margin-top: 4em;
}
.howWeHelpExplainerTxt {
	color: white;
	text-align: center;
	margin-bottom: 5em;
}
.whoWeHelpPersonaContainer{
	height: auto;
	text-align: center;
}



/* Dr. Ewert Bio/Picture Begin*/


#ewertBioPic {
	height: 55em;
	background-image: url("../img/Ewert.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.ewertBioRight {
	height: 55em;
	background-color: #556B2F;
}

.ewertTitle {
	color: white;
	font-family: SinkinSansSixBold;
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
	padding-top: 2em;
	padding-bottom: 1em;
}

.ewertExplainerTxt{
	color: white;
	text-align: left center;
	padding-top: .5em;
	padding-left: .5em;
	padding-right: .5em;
	padding-bottom: .5em;
	font-size: 1em;
	line-height: 1.95em;
}

.ewertList {
	list-style-type:square;
	list-style-position: inside;
	width: 50%;
	margin: 0 auto;
}


/* Dr. Ewert Bio/Picture End*/


.roadMapToRecovery{
	height: 35em;
}
.roadMapToRecoveryStep{
	color:white;
	margin-bottom: 0;
	margin-top: 2.55em;
	margin-left: 10%;
}
.RoadMapToRecoveryStart{
	height: 125px;
	width:125px;
	background-color:#FD1847;
	color: white;
	text-align: center;
	position: relative;
	margin-right: 0;
	z-index: 100;

}
.R2CbottomLine{
	text-align: center;
}
.hideSteps{
	visibility: hidden;
}
.showSteps{
	display: block;
}
.RoadMapToRecoveryEnd{
	float: right;
	height: 125px;
	width:125px;
	background-color: rgba(105,198,235,1);
	color: white;
	text-align: center;
	position: relative;
	z-index: 100;
}
.RoadMapToRecoveryStart > p{
	position: absolute;
	bottom: 30%;
	left:30%;
	font-family:SinkinSansSixBold;
	text-shadow: 1px 1px #000;
}
#R2CbottomLineConsoltation{
	margin-left: 3.3em;
}
#R2CbottomLineEvaluation{
	margin-left: 2.8em;
}
#R2CbottomLineRecommendation{
	margin-left: 4.5em;
}
#R2CbottomLineAction{
	margin-left: 1.7em;
}
.recoveryBoxLine{
	border: 0.25em solid white;
	margin-top: 5em;
	padding: 0;
	z-index: 2;
	width: 97%;
	margin-left: 1em;
}
.RoadMapToRecoveryEnd > p{
	position: absolute;
	bottom: 30%;
	left:18%;
	font-family:SinkinSansSixBold;
	text-shadow: 1px 1px #000;
}

/* Roadmap To Recovery Section End*/

#howWeHelp{
	background-image: url("../img/roadmaptorecovery.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0;
	background-position: bottom;
}
.whoWeHelpList{
	padding: 0;
	margin-left: 30%;
	/*border: 2px solid white;*/
	margin-bottom: 5em;
}
.whoWeHelpList > li{
	list-style: none;
	text-align: left;
	font-weight: 600;
	margin-top: 0.5em;
}
.whoWeHelpList > li:hover{
	color: black;
}
.whoWeHelpList > li > span{
	color:white;
}
.stretch{
	width: 50%;
	height: 60%;
}
.blackOverlay{
	background: rgba(0, 0, 0, 0.3);
	margin: 0;
	padding: 0;
}
.navbar{
	margin-bottom: 0;
	padding-bottom: 0;
}
#active{
	color:#18C2BE;
}
.mainContentContainer{
	padding: 0;
}

#howWeCanHelp{
	color:rgb(60,139,164);
}
#whoWeHelp{
	background-color: #f8f8f8;
}








/* Begin Services Page */

/* Begin Testing Section */
.servicesContainer{
	padding: 10px;
	margin-bottom: 4em;
}
.servicesSubsectionContent{
	width: 50%;
	margin: 0 auto;
}
.servicesSubsectionTitle{
	text-align: center;
	font-family: SinkinSansSixBold;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 1em;
	margin-top: 2em;
	color:#18C2BE;
	font-size: 1.2em;
}
.servicesSubsectionContent{
	line-height: 1.8em;
}
.servicesSectionTitle{
	margin-bottom: 2em;
	margin-top: 2em;
}
.servicesAnchorTag{
	text-align: center;
	font-size: 1.5em;
	color:black;
	text-decoration: none;
	font-family: SinkinSansSixBold;
	color: black;
	text-transform: uppercase;
	margin-top: 2em;
	margin-bottom: 2em;
}
.servicesAnchorTag:hover{
	text-decoration: none;
	color:black;
}
.servicesHead{
	text-align: center;
	text-transform: uppercase;
}
.servicesExplainerTxt{
	text-align: left;
}

/* Begin Therapy Section */

/* Begin Concussion Section */






/* Begin Appointments Section*/

.appointmentsAnchorTag:hover{
	text-decoration: none;
	color:black;
}

.patientsContainer{
	padding: 10px;
	margin-bottom: 4em;
}

/* #appointmentsContainer {}*/

/* #insuranceContainer {} */

.appointmentsAnchorTag{
	text-align: center;
	font-size: 1.5em;
	color:black;
	text-decoration: none;
	font-family: SinkinSansSixBold;
	color: black;
	text-transform: uppercase;
	margin-top: 4em;
	margin-bottom: 2em;
}

.appointmentsTitle{
	text-align: center;
	font-size: 1.5em;
	font-family: SinkinSansSixBold;
	color: white;
	text-transform: uppercase;
	margin-top: 4em;
	margin-bottom: 2em;
}
.insuranceSectionTitle{
	margin-bottom: 2em;
	margin-top: 2em;
}
.appointmentsSubsectionTitle{
	text-align: left justify;
	font-family: SinkinSansSixBold;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 1em;
	margin-top: 3em;
	color:#18C2BE;
	font-size: 1.16em;
	line-height: 1.8em;
}
.appointmentsSubsectionContent{
	width: 50%;
	margin: 0 auto;
	padding-bottom: 1em;
}
.appointmentsList{
	list-style-type:square;
	list-style-position: inside;
	width: 50%;
	margin: 0 auto;
}


/* Begin Resources Pg*/

.resourcesContainer{
	background-color: white;
	text-align: center;
}
.patientForms{
	text-align: center;
	font-size: 1.25em;
	margin-top: 4em;
	margin-bottom: 4em;
	margin-left: 1em;
	margin-right: 1em;
}






.jumbotron {
background: #a8a8a8;
color: white;
border-radius: 0px;
}
.jumbotron-sm { padding-top: 24px;
padding-bottom: 24px; }
.jumbotron small {
color: #FFF;
}
.h1 small {
font-size: 24px;
}
.contactInfo{
	padding-left: 0;
}
.contactInfoListItem{
	list-style: none;
	margin-top: 0.5em;
	font-size: 1.2em;
}
.contactInfoListItem:hover{
	color:black;
}
.contactInfoListItem a{
	color:#18C2BE;
}
.officeAddress{
	font-size: 1.2em;
}
.contact_us_header{
	text-align: center;
	font-size: 1.5em;
}
#contact_container{
	margin-top: 2em;
}
.contact-container{
	margin-top: 3em;
}
.contact_page_gmap{
	width: 100%;
	height: 30em;
}
#contact_page_map{
	background-image: url("../img/google_map.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 25em;
	width: 100%;
}
#btnContactUs{
	background-color: #18C2BE;
	border: none;
}
#btnContactUs:hover{
	background-color: white;
	color:#18C2BE;
	border: 1px solid #18C2BE;
}


.appointmentsList > li:hover{
	color: black;
}
.downloadFormTitle{
	font-size: 0.75em;
	color: black;
}
.downloadIcon{
	margin-bottom: 1em;
	margin-top: 1em;
}
.resourcesContainer{
	height: 100vh;
}
.downloadableForms{
	padding: 0;
}
.patientForms{
	margin-top: 0;
	margin-bottom: 0;
}
.closeBtn{
	z-index: 800;
	position: absolute;
	right: 10px;
	top:10px;
	background-color: #18C2BE;
	color: white;
	border: none;
	font-weight: bold;
	width:40px;
	font-size: 1.3em;
	height:40px;
}
@media screen and (max-width: 1500px) {
	#roadMapToRecoveryStepOne{
		margin-left: 5%;
	}
	#roadMapToRecoveryStepFour{
		float: right;
		margin-right: 5%;
	}
	.whoWeHelpList{
		margin-left: 0;
		width: 80%;
		margin-left: 10%;
	}
	.whoWeHelpList > li{
		text-align: center;
	}
}
@media screen and (max-width: 1350px) {
	.whoWeAreTransparent{
		width: 80%;
		margin-right: 10%;
		margin-left: 10%;
		margin-top: 7em;
	}
	.whoWeAreTitle{
		font-size: 2.5em;
	}
	#Dr_Ewert_sm_profile_container{
		display: inline-block;
	}
	#Dr_Ewert_sm_profile{
		height: 17.063em;
		width: 20em;
		margin-top: 5em;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
	}
	#ewertBioPic{
		display: none;
	}
	#ewertBioTxt{
		width: 100%;
	}
	.ewertTitle{
		padding-top: 3em;
	}
}
@media screen and (max-width: 1200px) {
	#headInjury{
		width: 100%;
		margin-left: 0;
	}
	.appointmentsSubsectionContent{
		width: 80%;
		margin: 0 auto;
	}
	.appointmentsSubsectionTitle{
		width: 80%;
		margin: 0 auto;
	}
	.appointmentsList{
		width: 80%;
		margin: 0 auto;
	}
}
@media screen and (max-width: 993px) {
	#headInjury{
		visibility: hidden;
	}
	.whoWeAreTransparent{
		margin-top: 0;
		position: absolute;
		bottom: 25%;
	}
	.whoWeAreTitle{
		font-size: 2.5em;
	}
	.whoWeAreExplainerTxt{
		font-size: 1em;
	}
	.mainTitle{
		margin-top: 0;
		padding-top: 2em;
	}
	#howTitle{
		margin-top: 0;
		padding-top: 2em;
	}
	#whoWeHelp{
		background-color: white;
		height: auto;
	}
	.whoWeHelpPersonaWrapper{
		height: inherit;
	}
	.whoWeHelpPersonaContainer{
		height: auto;
	}
	.ewertTitle{
		margin-top: 0;
	}
	body{
		background-color: white;
	}

	
}

@media screen and (max-width: 850px) {
	.navbar-brand{
		font-size:16px;
	}
}

@media screen and (max-width: 767px) {
	.navbar-nav{
		width: 105%;
		text-align: center;
	}
	.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a{
		padding-right: 0;
		padding-left: 0;
	}
	.container{
		padding-left: 0;
	}
	.navbar-nav li{
		width: 100%;
		font-size: 1em;
		border-bottom: 1px solid grey;
	}
	.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header{
		margin-left: 0;
		margin-right: 0;
	}
	.dropdown-menu > li{
		background-color: transparent;
		border-bottom: none;
	}
	#servicesDropDown{
		display: none;
	}
	#patientsDropDown{
		display: none;
	}
	#resourcesDropDown{
		display: none;
	}
	#servicesLink_mobile_only{
		display: block;
	}
	#patientsLink_mobile_only{
		display: block;
	}
	#resourcesLink_mobile_only{
		display: block;
	}
	.servicesSubsectionContent{
		width: 90%;
		margin: 0 auto;
	}
	#whoWeHelp{

	}
	.ewertTitle{
		margin-top: 0;
	}
	.whoWeHelpPersonaContainer{
		margin-top: 4em;
	}
	#howTitle{
		margin-top: 0;
		padding-top: 3em;
	}
}

@media screen and (max-width: 625px) {
	#whoWeAre{
		display: block;
		border-bottom: 1px solid grey;
	}
	.whoWeAreTransparent{
		display: none;
		visibility: hidden;
	}
	.whoWeAreExplainerTxt{
		text-align: justify;
	}
	#mainBanner{
		height: 25em;
	}
	.ewertExplainerTxt{
		padding-left: 0;
		padding-right: 0;
	}
}













